:root {
    --text-font-family: 'Roboto', 'Raleway', sans-serif;
    --brand-color-iris: #4D5AE5;
    --brand-color-ocean: #404BBF;
    --brand-color-navvy-blue: #2E2F42;
    --brand-color-slate: #434455;
    --brand-color-cornflower: #E7E9FC;
    --brand-color-cloud: #F4F4FD;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: var(--brand-color-slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
img {
    display: block;
}
.logo { 
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--brand-color-iris);
}
.half-logo {
    color: var(--brand-color-navvy-blue);
}
.link {
    text-decoration: none;
}
.link:hover {
    color: var(--brand-color-ocean);
}
.link:focus {
    color: var(--brand-color-ocean);
}
.list {
    list-style-type: none;
}
.nav {
    color: var(--brand-color-navvy-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.nav-link {
    padding: 24px 0;
}
.nav:focus {
    color: var(--brand-color-ocean)
}
.nav:hover {
    color: var(--brand-color-ocean);
}
.main-navigation {
    flex-direction: row;
    color: var(--brand-color-navvy-blue);
    display: flex;
    gap: 40px;
}
.contacts {
    font-style: normal;
    letter-spacing: 0.02em;
    color: var(--brand-color-slate);
}
.contacts:focus {
    color: var(--brand-color-ocean);
}
.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    list-style-type: none;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    background: #fff;
    border-bottom: 1px solid --brand-color-cornflower;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
    gap: 40px;
    min-width: none;
    min-height: none;
    color: var(--brand-color-slate);
    font-style: normal;
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 0.32px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;
}
.contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
/*hero section styles*/
.hero-section {
    background-color: var(--brand-color-navvy-blue);
    flex-shrink: 0;
    display: flex;
    flex-flow: column wrap;
    padding: 188px 0;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-header {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: var(--brand-color-navvy-blue);
    margin-bottom: 48px;
    max-width: 496px;
    justify-content: center;
}
.hero-button {
    color: #ffffff;
    background-color: var(--brand-color-iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    display: block;
    align-items: flex-start;
    padding: 16px 32px;
    border-radius: 4px;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0, 15);
    min-width: 169px;
    height: 56px;
    border: none;
    justify-content: center;
}
.hero-button:hover,
.hero-button:focus {
    color: #ffffff;
    background-color: var(--brand-color-ocean);
}
/*section two styles*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header-two {
    color: var(--brand-color-navvy-blue);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.header-three {
    color: var(--brand-color-navvy-blue);
    background-color: #ffffff;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 00.4px;
    margin-bottom: 8px;
}
.list-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-slate);
    font-style: normal;
}
.section-two {
    padding: 120px 0;
}
.section-two-container {
    display: flex;
    width: 1128px;
    height: 104px;
    flex-shrink: 0;
    gap: 24px;
}

.feature-icons {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background: var(--brand-color-cloud);
}

.astronaut-icon {
    width: 64px;
    height: 64px;
    background: var(--brand-color-cloud);
    align-items: center;
    justify-content: center;
    display: flex;

}
.section-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 8px;
    width: calc(100%-48px)/3;
    width: 100%;
    min-width: 264px;
}
.section-three {
    width: 1128px;
    flex-shrink: 0;
    margin-left: 156px;
    margin-right: 156px;
    padding-bottom: 120px;
}
.section-three-header {
    margin-bottom: 8px;
    align-items: center;
    margin-bottom: 72px;
}
.section-three-box {
    display: flex;
    gap: 24px;
}
.section-three-item {
    width: calc((100%-48px)/3);
    margin-top: 72px;
}
.team-section {
    background-color: var(--brand-color-cloud);
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-team-header {
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-top: 0px;
    margin-left: 490px;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.team-card {
    text-align: center;
    padding: 32px 0;
    background: #fff;
} 
.card-title {
    margin-bottom: 8px;
}
.card-content {
    text-align: center;
    justify-content: center;
}
.list-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: calc(100%-72px) / 4;
}

.trailing-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.ellipse-icon {
    width: 40px;
    height: 40px;
}

/*section 4 styles*/

.customer-icons-container {
    width: 1128px;
    height: 200px;
    flex-shrink: 0;
}
.section-four-header {
    color: var(--brand-color-navvy-blue);
    text-align: center;
}
.customer-icons {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.client-icon {
    width: 104px;
    height: 56px;
    flex-shrink: 0;
    
}
.icon-container {
    width: 168px;
    height: 88px;
}
/*footer styles*/

.footer {
    background-color: var(--brand-color-navvy-blue);
    flex-shrink: 0;
    padding: 100px 0;
}
.footnote-box {
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-end;
}
.footnote-logo {
    display: inline-block;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 16px;
}
.footnote {
    color: var(--brand-color-cloud);
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-size: 16px;
    font-weight: 400;
    max-width: 264px;
    height: 72px;
    margin-top: 16px;
}


/*portfolio styles*/
.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.filter-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--brand-color-iris);
    background-color: var(--brand-color-cloud);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    width: auto;
    padding: 12px 24px;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    background-color: var(--brand-color-ocean);
    color: #FFFFFFFF; 
    border: 1px solid transparent;
}
.filter-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 72px;
    align-items: center;
    justify-content: center;
}
.row-list {
    border: 1px solid --brand-color-cornflower;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-direction: row;
    padding:0;
}
.card-item {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    flex-shrink: 0;
    width: calc(100%-48px) / 3;
}

.image-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--brand-color-navvy-blue);
    margin-bottom: 8px;
}
.image-description {
    font-size: 16px;
    letter-spacing: 0.32px;
    color: var(--brand-color-slate);
    line-height: 1.5;
    font-weight: 400;
}
.images {
    width: 360px;
    height: 300;
    flex-shrink: 0;
}

.wdn-text-hidden {
    color: #ffffff;
}